@import '~bootstrap/scss/bootstrap.scss';
@import '~src/variables';
// @import '~src/forms';
@import '~font-awesome/scss/font-awesome';

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(/assets/images/dragon-grey.png);
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: 90% 80%;
	background-color: #eee;
	background-attachment: fixed;
}

a, a:hover {
	color: inherit;
}

ul, li {
	list-style: none;	
}

.underline {
	height: 2px;
	width: 150px;
	background-color: $primary-color;
}

.content {
	margin-top: 128px;
}